.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #3498db; /* Blue background color */
  color: white;
}
label{
  align-items: left;
  justify-content: left;
}
input {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 10%;
}

/* Add the following styles to App.css */

button {
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  font-size: 36px;
  margin-top: 20px;
}
